
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  thread-count="3">
    <test name="Regression">
        <classes>
            <class name="test_Class.TC001_Add_Customer_Test"/>
            <class name="test_Class.TC002_Open_Account_Test"/>
            <class name="test_Class.TC003_Search_Customer"/>
            <class name="test_Class.TC004_Cross_Browser_Test"/>
            <class name="test_Class.TC005_File_Download_Test"/>
            <class name="test_Class.TC006_File_Upload_Test"/>
            <class name="test_Class.TC007_Reading_Data_From_Xcel"/>
            <class name="test_Class.TC008_Writing_Data1"/>
            <class name="test_Class.TC010_Mulitple_Windows_Handling_Test"/>
            <class name="test_Class.TC011_Trasction_Test"/>
            <class name="test_Class.TC012_Deposite_Test"/>
            <class name="test_Class.TC013_WebTable_Test"/>
        </classes>
    </test>
</suite>