
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  thread-count="3">
    <test name="Regression">
        <classes>
            <class name="test_Class.TC001_Add_Customer_Test"/>
            <class name="test_Class.TC002_Open_Account_Test"/>
            <class name="test_Class.TC003_Search_Customer"/>
            <class name="test_Class.TC004_Cross_Browser_Test"/>
            <class name="test_Class.TC005_File_Download_Test"/>
            <class name="test_Class.TC006_File_Upload_Test"/>
            <class name="test_Class.TC007_Reading_Data_From_Xcel"/>
            <class name="test_Class.TC008_Writing_Data_From_Xcel_Test"/>
            <class name="test_Class.TC009_Customer_Login_Transaction_Test"/>
            <class name="test_Class.TC010_Mulitple_Windows_Handling_Test"/>
            <class name="test_Class.TC011_Date_Picker_Transcation"/>
            <class name="test_Class.TC012_Deposite_Test"/>
            <class name="test_Class.TC013_WebTable_Test"/>
            <class name="test_Class.TC014_Customer_Login_Deposit_Test"/>
            <class name="test_Class.TC015_Registration_Store_Excel_test"/>
            <class name="test_Class.TC016_Assign_Leave_Test"/>
            <class name="test_Class.TC017_Rotator_Front_Back_Content_Test"/>
            <class name="test_Class.TC018_3D_Rotator_Test"/>
             <class name="test_Class.TC019_Spect_MoveToElement_Test"/>
            <class name="test_Class.TC020_Drag_Image_Test"/>
            <class name="test_Class.TC021_Hover_Tooltip_Test"/>
            <class name="test_Class.TC022_ResizablePractice_Test"/>
            <class name="test_Class.TC023_Customer_Login_Successfull_Test"/>
            <class name="test_Class.TC024_Customer_Login_Withdrawl"/>
            <class name="test_Class.TC025_Logout_Customer_Test"/>
            <class name="test_Class.TC026_Customer_List_Account_Test"/>
        </classes>
    </test>
</suite>